.header { /* class selector */
    padding-left: 40%;
    background-color: turquoise;
    }

    #paraimg { /* id selector */
        padding-left: 8%;
        font-weight: 700;
    }

    #para1 { /* id selector */
    color: steelblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.company1 {
    background-color: red
}

.company2 {
    background-color: white;
}

.company3 {
    background-color: blue;
}
